@model List<NoiThatAdmin.Models.DataModels.ProductImage>

<table>
    <thead>
        <tr>
            <th>
                Hình Ảnh
            </th>
            <th>

            </th>
        </tr>
    </thead>
</table>
