 <!-- BEGIN SIDEBAR -->
<nav id="page-leftbar" role="navigation">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="acc-menu" id="sidebar">
        <li id="search">
            <a href="javascript:;"><i class="fa fa-search opacity-control"></i></a>
            <form>
                <input type="text" class="search-query" placeholder="Search...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>
        <li class="divider"></li>
        <li><a href="/Home/Index/"><i class="fa fa-home"></i> <span>Trang Chủ</span></a></li>
        <li>
            <a href="javascript:;"><i class="fa fa-th"></i> <span>Chủng loại Sản phẩm</span> </a>
            <ul class="acc-menu">
                <li><a href="/Categories/Create"><span>Thêm mới</span></a></li>
                <li><a href="/Categories/Index"><span>Danh sách Chủng loại SP</span></a></li>
                <li><a href="#"><span>Slides Mặc định</span></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-list-ol"></i> <span>Sản phẩm</span> </a>
            <ul class='acc-menu'>
                <li><a href="/Products/Create">Tạo Mới</a></li>
                <li><a href="/Products/Index">Danh sách sản phẩm</a></li>
                <li><a href="/Products/Index">Hình Ảnh Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-list-ol"></i> <span>Bộ sưu tập</span> </a>
            <ul class='acc-menu'>
                <li><a href="/Collections/Create">Thêm Mới</a></li>
                <li><a href="/Collections/Index">DS Bộ sưu tập</a></li>
                <li><a href="/CollectionCategories/Index">DS Chủng loại Bộ sưu tập</a></li>
                <li><a href="/Products/Index">Hình Ảnh Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-table"></i> <span>Tin tức</span></a>
            <ul class='acc-menu'>
                <li><a href="/Blogs/Create">Thêm Mới</a></li>
                <li><a href="/Blogs/Index">Danh sách tin tức</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-tasks"></i> <span>Các Danh Mục</span></a>
            <ul class="acc-menu">
                <li><a href="/Home/ListMenus">Menus</a></li>
                <li><a href="/AboutUs/Index">Về Chúng tôi</a></li>
                <li><a href="/information/Index">Thông tin Chung</a></li>
                <li><a href="/Customers/Index">Khách hàng tiêu biểu</a></li>
            </ul>
        </li>

        <li>
            <a href="/users/Index"><i class="fa fa-user"></i> <span>Tài Khoản</span> </a>

        </li>

        <li>
            <a href="javascript:;"><i class="fa fa-sliders"></i> <span>Slide Hình Ảnh</span></a>
            <ul class="acc-menu">
                <li><a href="~/slides/forhomepage">Theo trang chủ</a></li>
                <li><a href="~/slides/forcategory">Theo loại sản phẩm</a></li>
                <li><a href="~/slides/fordefault">Mặc định cho loại sản phẩm</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript:;"><i class="fa fa-shopping-cart"></i> <span>Nhóm Sản Phẩm</span></a>
            <ul class="acc-menu">
                <li><a href="~/products/moinhat">Sản phẩm mới nhất</a></li>
                <li><a href="~/products/tieubieu">Sản phẩm tiêu biểu</a></li>
                <li><a href="~/products/noibat">Sản phẩm nổi bật</a></li>
                <li><a href="~/products/banchay">Sản phẩm bán chạy</a></li>
            </ul>
        </li>

        <li class="divider"></li>
        <li>
            <a href="javascript:;"><i class="fa fa-briefcase"></i> <span>Extras</span> <span class="badge badge-danger">1</span></a>
            <ul class="acc-menu">
                <li><a href="extras-timeline.html">Timeline</a></li>
                <li><a href="extras-profile.html">Profile</a></li>

            </ul>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</nav>









